* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin: 0;
 }

h1 {
    margintop: 0;
}
p {
    text-align: justify;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

strong {
    font-size: 25px;
}

span {
    padding: 5px;
    font-size:18px;
    font-family: 'Roboto', sans-serif;
}

.nav {
    margin-top: 50px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.row {
    margin:0;
}

.nav-link {
    color: white;
    transition: .5s ease;
}

.nav-link:hover {
    font-size: 25px;
}
#headerA {
    padding-left: 40px;
}

.headerB {
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 36%, rgba(149,149,149,1) 100%);
}

#contactMeHeader {

    font-size: 80px;
    letter-spacing: 5px;
    font-family: 'Bebas Neue', cursive;
}

#messagehere {
    font-size: 50px;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', cursive;
    transition: .5s ease;
}

#messagehere:hover {
    font-size: 60px;
}



#headerLastName {
    positio:absolute;
    color: white;
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
}


#headerFirstName {
    position: relative;
    bottom: 20px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

#mainImg {
    position: relative;
    left: 200px;
    top: 230px;
}

#projectSectionTitle {
    position: relative;
    right: 80px;
    height: 400px;
    transition: .5s ease;
}


#profileVertical {
    position: relative;
    bottom: 50px;
    border-radius: 50px;
    height: 600px;
    filter: grayscale(100%);
    transition: 1s ease;
    opacity: 1;
}

#picContainer {
    
}


.buttonPic {
    position: absolute;
    height: 125px;
    width: 125px;
    transition: .5s ease;
}

.buttonPic-sm {
    position: absolute;
    height: 60px;
    width: 60px;
    transition: .5s ease;
}

#blackButton {
    top: 300px;
    left: 531px;
}


.w3-green{
    width: 50%;
}

.card {
    width: 300px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255,0.8);
    transition: .5s ease;
    
}


.card-img-top {
    padding-top: 8px;
    border-radius: 400px
}

.description {
    margin-top: 80px;
    padding: 50px;
}

#contactForm {
    background: rgb(255,255,255,0.8);
    border-radius:50px;
}
.form-group {
    padding: 10px;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
}

@media only screen and (min-width: 768px) {

#projectSectionTitle:hover {
    height: 450px;
}

#Projects {
    padding:50px;
}

#nameHolder {
    padding-top: 350px;
}

#aboutMeArticle-lg {
    padding-right:200px;
}

.lg-none {
    display: none;
}

.capstoneImg {
    position: relative;
    border-radius: 50px;
    height: 500px;
    transition: .5s ease;
    
}

.capstoneImg:hover {
    position: relative;
    border-radius: 500px;
    height: 500px;

}

#picContainer:hover #profileVertical {
    filter: grayscale(0%);
    border-radius: 500px;
    height:700px;
}

.buttonPic-sm:hover {
    position: absolute;
    height: 70px;
    width: 70px;
}

.buttonPic:hover {
    position: absolute;
    height: 140px;
    width: 140px;
}

.card:hover {
    width: 350px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255,0.8);
    transition: .5s ease;
    
}

}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #nameHolder {
        padding-top: 100px;
        width: 300px;
        margin-left: 10px;
    }
    
    #nav-1 {
        font-size: 30px;
        font-weight: bold;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 5px;
    }
    
    .sm-none {
        display:none;
    }
    
    #sm-about-me {
        order:2;
        padding: 5px;

    }
    
    #profileVertical {
    }
    
    .sm-headerB {
        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 36%, rgba(149,149,149,1) 100%);
    }

    .sm-title {
        margin-top: 10px;
        font-size: 30px;
        font-weight: bold;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 5px;
    }

    .sm-capstoneImg {
    position: relative;
    border-radius: 50px;
}
    .sm-px-5 {
        padding-left: 48px;
        padding-right: 48px;
    }

    .sm-capstone-order {
        order: 2;
    }

    #messagehere {
        margin-top: 10px;
        padding: 5px;
        font-size: 30px;
    }

    .sm-text-black {
        color: black;
    }


}